body {
	background-color: rgb(219, 211, 211);
}
/* h1{
        color : blue;
    } */

    #main_heading{

        /* color keyword */
        /* color : blue; */
       
       /* color code (hex code)*/
        /* color : #000080 */

        /* rgb code */
        /* color : rgb(0,0,128); */

         /* rgb code */
         color : rgba(0,0,128, 0.8)
    }

    .para{
        color : gray
    }

    #ai_image{
        height: 400px;
    }

    body{
        padding: 50px;
    }

    .blog{
        background-color: rgb(224, 224, 250);
        padding: 20px;

        /* padding-top: 20px;
        padding-bottom: 20px; */

        margin-top: 20px;
        margin-bottom: 20px;

        /* margin-left: 20px;
        margin-right: 20px; */

        /* top-bottom right-left*/
        margin: 20px 10px;

        /* top-right-bottom-left */
        margin: 10px 20px 30px 20px;

        
    }

    button{
        background-color: blue;      
        color: white;
        padding: 10px 20px;
        margin: 10px;
        
            /* size style color */
        border: 1px solid rgb(196, 196, 196);  
        cursor: pointer;
        box-shadow : 2px 2px 2px gray;
    }

    .Comments-form{
        background-color: rgb(235, 233, 233);
        padding: 30px;
        margin: 20px;
        border: 1px solid blue;
    }

    input,textarea {
        padding: 10px;
        margin:10 px;
        border: none;
        width: 98%  

    }

    * {
        color : black
    }
    
